{% extends '_base.html' %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" />
    {% include 'general/wtf_quick_form_create.html' %}

    <table class="table table-hover">
        <thead>
        <tr><th>人物名字</th><th>国籍</th><th>出生日期</th>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <th>管理</th>
            {% endif %}
            </tr>
        </thead>
        {% for item in items %}
            <tr style="cursor:pointer">
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}">{{ item.name }}</td>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}">
                    {% if item.nationality %}
                        {{ item.nationality.name }}
                    {% endif %}
                </td>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}">
                    {% if item.birth_day %}
                        {{ item.birth_day }}
                    {% endif %}
                </td>

                <div class="modal fade" id="myModalShow{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalCvMainAttributeLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalCvMainAttributeLabel">
                                        {{ item.name }}
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                <div class="row">
                                    <div class="col-sm-2">
                                         {% if item.bill_link %}
                                            <img src="{{ item.bill_link }}" style="width: 100%">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">姓名：{{ item.name }}</div>
                                        {% if item.sex==0 %}
                                            <div class="row">性别：男性</div>
                                        {% elif item.sex == 1 %}
                                            <div class="row">性别：女性</div>
                                        {% endif %}

                                        {% if item.foreign_name %}
                                            <div class="row">外国名字：{{ item.foreign_name }}</div>
                                        {% endif %}
                                         <div class="row">出生年月：{{ item.birth_day }}</div>

                                        {% if item.nationality %}
                                            <div class="row">国籍：{{ item.nationality.name }}</div>
                                        {% endif %}

                                        {% if item.birth_city %}
                                            <div class="row">出生地：{{ item.birth_city.name }}</div>
                                        {% endif %}

                                        {% if item.origin_city %}
                                            <div class="row">籍贯：{{ item.origin_city.name }}</div>
                                        {% endif %}

                                        {% if item.constellation %}
                                            <div class="row">星座：{{ item.constellation.name }}</div>
                                        {% endif %}

                                        {% if item.blood_group %}
                                            <div class="row">血型：{{ item.blood_group.name }}</div>
                                        {% endif %}

                                        {% if item.height %}
                                            <div class="row">身高：{{ item.height }}cm</div>
                                        {% endif %}

                                        {% if item.weight %}
                                            <div class="row">体重：{{ item.weight }}斤</div>
                                        {% endif %}

                                        {% if item.list_acted_movies() %}
                                            <div class="row">出演的电影：{{ item.list_acted_movies() }}斤</div>
                                        {% endif %}
                                    </div>
                                </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-xs btn-primary" data-dismiss="modal" value="关闭">
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        {% include 'general/wtf_quick_form_modify.html' %}
                        {% include 'general/wtf_quick_form_delete.html' %}
                        {% include 'general/wtf_quick_form_upload_image.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select2.4.0.0.min.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('.select-control').select2();

            var list_object = document.getElementsByClassName("select2-container");
            for (var i =0; i<list_object.length; i++) {
                list_object[i].style.width = "100%";
            }

            {# https://blog.csdn.net/john1337/article/details/53315969 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });
    </script>
{% endblock %}