{% extends '_base.html' %}

{% block app_content %}
    {% if current_user.is_authenticated and current_user.is_admin %}
        <button class="btn btn-xs btn-success" onclick=window.location.href="{{ url_for('management.country_add') }}">添加国家</button>
    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr><th>国家名称</th></tr>
        </thead>
        {% for country in countries %}
            <tr style="cursor:pointer">
                <td>{{ country.name }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}