{% extends '_base.html' %}


    {% block app_content %}
        <div style="position: relative; top: 0; height: 500px; left: 0; right: 0">
            <div id="echarts_financial_management" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
        </div>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
        <script type="application/javascript">

            f_echarts_financial_management('echarts_financial_management', {{ echarts_data.date|tojson }}, {{ echarts_data.data }}, {{ echarts_data.data_min }}, {{ echarts_data.data_max }}, {{ echarts_data.interval }});
        </script>
    {% endblock %}