{% extends '_base.html' %}

{% block app_content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" />

    {% if current_user.is_authenticated and current_user.is_admin %}
        {% include 'general/wtf_quick_form_create.html' %}
    {% endif %}


    <table class="table table-hover">
        <thead>
        <tr><th>项目</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>关联日记条数</th>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <th>管理</th>
            {% endif %}
        </tr>
        </thead>
        {% for item in items %}
            <tr data-toggle="modal" data-target="#detail_{{ item.id }}">
                <td>{{ item.name }}</td>
                <td>{{ item.start_date.year }}年{{ item.start_date.month }}月{{ item.start_date.day }}日</td>
                <td>{{ item.end_date.year }}年{{ item.end_date.month }}月{{ item.end_date.day }}日</td>
                <td>{{ item.details_cnt }}</td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        {% include 'general/wtf_quick_form_modify.html' %}
                        {% include 'general/wtf_quick_form_delete.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

    {% for item in items %}
        <div class="modal fade" id="detail_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalCvMainAttributeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalCvMainAttributeLabel">
{#                            {{ item.name.year }}年{{ item.date.month }}月{{ item.date.day }}日的日记#}
                            项目：{{ item.name }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead><tr><th style="width: 150px">日期</th><th>进度</th></tr></thead>
                            {% for detail in details[item.id] %}
                                <tr><td>{{ detail.date.year }}年{{ detail.date.month }}月{{ detail.date.day }}日</td>
                                <td>{{ detail.content | md | safe }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endfor %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select2.4.0.0.min.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('.select-control').select2();

            var list_object = document.getElementsByClassName("select2-container");
            for (var i =0; i<list_object.length; i++) {
                list_object[i].style.width = "100%";
            }

            {# https://blog.csdn.net/john1337/article/details/53315969 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });
    </script>
{% endblock %}