.hao-background-div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline;
}

.hao-tableau-div {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.hao-tableau-div-top-left {
    position: relative;
    top: 2%;
    left: 1%;
    width: 30%;
    height: 40%;
    right: 41%;
    float: left;
}

.hao-tableau-div-top-right {
    position: relative;
    top: 2%;
    right: 1%;
    height: 40%;
    width: 67%;
    float: right;
}

.hao-tableau-div-transparent {
    border: 1px solid darkgrey;
    background: rgba(0, 36, 139, 0.3);
}