{% extends '_base.html' %}

{% block app_content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" />

    {% if current_user.is_authenticated and current_user.is_admin %}
        {% include 'general/wtf_quick_form_create.html' %}
    {% endif %}


    <table class="table table-hover">
        <thead>
        <tr><th>面积</th><th>总价</th><th>小区</th><th>户型</th><th>类型</th><th>其他</th><th>链接</th>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <th>管理</th>
            {% endif %}
        </tr>
        </thead>
        {% for item in items %}
            <tr>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}" style="cursor: pointer">{{ item.surface }}</td>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}" style="cursor: pointer">{{ item.total_price }}</td>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}" style="cursor: pointer">
                    {% if item.estate %}
                        {% if item.estate.enterprise %}
                            {{ item.estate.enterprise.short_name }}
                        {% endif %}
                        {{ item.estate.name }}
                    {% endif %}
                </td>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}" style="cursor: pointer">
                    {% if item.type %}
                        {{ item.type.name }}
                    {% endif %}
                </td>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}" style="cursor: pointer">
                    {% if item.property %}
                        {{ item.property.name }}
                    {% endif %}
                </td>
                <td data-toggle="modal" data-target="#myModalShow{{ item.id }}" style="cursor: pointer">
                    {% if item.owner %}
                        {{ item.owner.name }}
                    {% endif %}
                </td>
                <td>
                    {% if item.link %}
                        <a href="{{ item.link }}" target="_blank">前往</a>
                    {% endif %}
                </td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        {% include 'general/wtf_quick_form_modify.html' %}
                        {% include 'general/wtf_quick_form_delete.html' %}
                        {% include 'general/wtf_quick_form_upload_image.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

    {% for item in items %}
        <div class="modal fade" id="myModalShow{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalCvMainAttributeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        {% if item.estate %}
                            <p><h4 class="modal-title" id="myModalCvMainAttributeLabel">
                            {% if item.estate.enterprise %}
                                {{ item.estate.enterprise.short_name }}
                            {% endif %}
                            {{ item.estate.name }}</h4></p>
                            {% if item.estate %}
                                {% if item.estate.district %}
                                    {% if item.estate.district.city %}
                                        {% if item.estate.district.city.province %}
                                            {% if item.estate.district.city.province.country %}
                                                {{ item.estate.district.city.province.country.name }}
                                            {% endif %}
                                            {{ item.estate.district.province.name }}
                                        {% endif %}
                                        {{ item.estate.district.city.name }}
                                    {% endif %}
                                    {{ item.estate.district.name }}
                                {% endif %}
                                {{ item.estate.address }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if item.image %}
                                            <img src="{{ item.image }}" style="width: 100%">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select2.4.0.0.min.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('.select-control').select2();

            var list_object = document.getElementsByClassName("select2-container");
            for (var i =0; i<list_object.length; i++) {
                list_object[i].style.width = "100%";
            }

            {# https://blog.csdn.net/john1337/article/details/53315969 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });
    </script>
{% endblock %}