{% extends '_base.html' %}

{% block app_content %}
    {% if current_user.is_authenticated and current_user.is_admin %}
        {% include 'general/wtf_quick_form_create.html' %}
    {% endif %}

    <table class="table table-hover">
        <thead>
        <tr><th>时间</th><th>商店</th><th>商品</th><th>支付方式</th><th>消费种类</th>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <th>管理</th>
            {% endif %}
        </tr>
        </thead>
        {% for item in items %}
            <tr>
                <td>{{ item.time }}</td>
                <td>
                    {% if item.shop %}
                        {{ item.shop.name }}
                    {% endif %}
                </td>
                <td>
                    {% if item.description %}
                        {{ item.description.name }}
                    {% endif %}
                </td>
                <td>
                    {% if item.way %}
                        {{ item.way.name }}
                    {% endif %}
                </td>
                <td>
                    {% if item.type %}
                        {{ item.type.name }}
                    {% endif %}
                </td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        {% include 'general/wtf_quick_form_modify.html' %}
                        {% include 'general/wtf_quick_form_delete.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}