{% extends '_base.html' %}

{% block app_content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" />

    {% if current_user.is_authenticated and current_user.is_admin %}
        {% include 'general/wtf_quick_form_create.html' %}
    {% endif %}


    <table class="table table-hover">
        <thead>
        <tr><th>马拉松</th>
            <th>距离</th>
            <th>报名时间</th>
            <th>比赛时间</th>
            <th>比赛地点</th>
            <th>报名</th>
            <th>完赛</th>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <th>管理</th>
            {% endif %}
        </tr>
        </thead>
        {% for item in items %}
            <tr style="cursor: pointer">
                <td>{{ item.name }}</td>
                <td>{{ item.distance }}公里</td>
                <td>
                    {% if item.apply_start_time.year and item.apply_start_time.minute==0 %}
                        {{ item.apply_start_time.date() }}
                    {% else %}
                        {{ item.apply_start_time }}
                    {% endif %}

                    {% if item.apply_start_time != item.apply_end_time %}
                        到
                        {% if item.apply_end_time.year and item.apply_end_time.minute==0 %}
                            {{ item.apply_end_time.date() }}
                        {% else %}
                            {{ item.apply_end_time }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if item.match_start_time.year and item.match_start_time.minute==0 %}
                        {{ item.match_start_time.date() }}
                    {% else %}
                        {{ item.match_start_time }}
                    {% endif %}

                    {% if item.match_start_time != item.match_end_time %}
                        到
                        {% if item.match_end_time.year and item.match_end_time.minute==0 %}
                            {{ item.match_end_time.date() }}
                        {% else %}
                            {{ item.match_end_time }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if item.district %}
                        {% if item.district.city %}
                            {{ item.district.city.name }}
                        {% endif %}
                        {{ item.district.name }}
                    {% endif %}
                    {{ item.address }}
                </td>
                <td>
                    {% if item.is_applied %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>
                <td>
                    {% if item.is_finished %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        {% include 'general/wtf_quick_form_modify.html' %}
                        {% include 'general/wtf_quick_form_delete.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select2.4.0.0.min.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('.select-control').select2();

            var list_object = document.getElementsByClassName("select2-container");
            for (var i =0; i<list_object.length; i++) {
                list_object[i].style.width = "100%";
            }

            {# https://blog.csdn.net/john1337/article/details/53315969 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });
    </script>
{% endblock %}