{% extends '_base.html' %}

{% block app_content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" />

    <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">开始日期：</span>
                {{ start_date_form.date(id="start_date", onChange="filter_date()") }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">结束日期：</span>
                {{ end_date_form.date(id="end_date", onChange="filter_date()") }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div id="div_e_charts_calendar" style="height: 500px; width: 80%"></div>
        </div>
        <div class="col-sm-7">
            <div id="e_chart_line" style="height: 500px; width: 100%"></div>
        </div>
    </div>


    {% if current_user.is_authenticated and current_user.is_admin %}
        {% include 'general/wtf_quick_form_create.html' %}
    {% endif %}


    <table class="table table-hover">
        <thead>
        <tr><th>日期</th><th>体重</th>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <th>管理</th>
            {% endif %}
        </tr>
        </thead>
        {% for item in items %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.weight }}千克</td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        {% include 'general/wtf_quick_form_modify.html' %}
                        {% include 'general/wtf_quick_form_delete.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select2.4.0.0.min.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('.select-control').select2();

            var list_object = document.getElementsByClassName("select2-container");
            for (var i =0; i<list_object.length; i++) {
                list_object[i].style.width = "100%";
            }

            {# https://blog.csdn.net/john1337/article/details/53315969 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () { }
        });
    </script>

    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>

    <script type="application/javascript">
        f_echarts_line('e_chart_line', {{ e_chart_line.date|tojson }}, {{ e_chart_line.data }}, {{ e_chart_line.data_min }}, {{ e_chart_line.data_max }}, {{ e_chart_line.interval }}, "体重变化图", "体重(千克)", "#323232");
    </script>

    <script type="application/javascript">
        function filter_date() {
            var start_date = document.getElementById("start_date").value;
            var end_date = document.getElementById("end_date").value;
            window.location.href="{{ curr_url }}"+"&start_date="+start_date+"&end_date="+end_date
        }
    </script>

    <script type="application/javascript">



        f_echarts_calendar("div_e_charts_calendar", '{{ e_chart_calendar_weight.range }}', {{ e_chart_calendar_weight.data|tojson }}, '体重签到日期', '#202020');

    </script>
{% endblock %}