{% extends '_base.html' %}

{% block app_content %}
    {{ super() }}
    <h1>添加电影院</h1>
    <hr />

    <form method="post">
        {{ cinema_form.csrf_token() }}
        <div class="col-sm-3">
            <div class="row input-group">
                <span class="input-group-addon">电影院名称</span>
                {{ cinema_form.name(placeholder="电影院名称", class="form-control", autocomplete='off') }}
            </div>
            <br />
            <div class="row input-group">
                <span class="input-group-addon">电影院地址</span>
                {{ cinema_form.address(placeholder="电影院地址", class="form-control", autocomplete='off') }}
            </div>
            <br />
            <div class="row">
                {{ cinema_form.submit(class="btn btn-xs btn-success") }}
                <button type="button" class="btn btn-xs btn-danger" onclick=window.location.href="{{ url_for('management.cinemas') }}">取消</button>
            </div>
        </div>

    </form>
{% endblock %}