{% extends '_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if current_user.is_authenticated and current_user.is_admin %}
        <input type="button" class="btn btn-xs btn-success" value="添加"
                data-toggle="modal" data-target="#myModalTypeCreate">
        <div class="modal fade" id="myModalTypeCreate" tabindex="-1" role="dialog" aria-labelledby="myModalCvMainAttributeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalCvMainAttributeLabel">
                            添加新电影类型
                        </h4>
                    </div>

                    <div class="modal-body">
                        {{ wtf.quick_form(movie_type_create_form) }}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr><th>电影类型名字</th><th>创建时间</th><th>关联电影数</th>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <th>管理</th>
                {% endif %}
            </tr>
        </thead>

        {% for type in types  %}
            <tr style="cursor:pointer">
                <td>{{ type.name }}</td>
                <td>{{ moment(type.create_time).fromNow() }}</td>
                <td>{{ type.movie_cnt }}</td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        <input type="button" class="btn btn-xs btn-warning" value="修改"
                               data-toggle="modal" data-target="#myModalType{{ type.id }}">
                        <div class="modal fade" id="myModalType{{ type.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalCvMainAttributeLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title" id="myModalCvMainAttributeLabel">
                                            修改电影类型资料
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ wtf.quick_form(list_modify_form[type.id]) }}
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->


                        <input type="button" class="btn btn-xs btn-danger" value="删除"
                                data-toggle="modal" data-target="#myModalCinemaDelete{{ type.id }}">
                        <div class="modal fade" id="myModalCinemaDelete{{ type.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalCvMainAttributeLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title" id="myModalCvMainAttributeLabel">
                                            您确认要删除该电影类型吗？
                                        </h4>
                                    </div>
                                    <form method="post" id="form_delete_{{ type.id }}">
                                        <div class="modal-body">
                                                {{ delete_form.csrf_token() }}
                                                <div class="input-group col-sm-10">
                                                    {{ delete_form.id(class="form-control", value=type.id) }}
                                                </div>
                                                <p><span>{{ type.name }}</span></p>
                                        </div>
                                        <div class="modal-footer">
                                            {{ delete_form.delete_submit(class="btn btn-xs btn-primary") }}&nbsp;
                                            <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">
                                                关闭
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}