{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

    {% block head %}
        {{ super() }}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/submenu.css') }}"/>
    {% endblock %}

    {% block title %}
        {{ super() }}
        {% if title %}
            {{ title }}
        {% else %}
            任皓的数据管理
        {% endif %}
    {% endblock %}

    {% block scripts %}
        {# 它已经在基础模板中定义了一些内容 #}
        {# 想要追加moment.js库的话，
        就需要使用super()语句，才能继承基础模板中已有的内容，
        否则就是替换。 #}
        {{ super() }}
        <script src="{{ url_for('static',filename='js/moment-with-locales.min.js') }}"
                integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}
        <script src="{{ url_for("static", filename='js/tableau/hao_echarts_function.js') }}"></script>
        <script type="application/javascript">
            moment.locale("zh-CN");
            function flask_moment_render(elem) {
                $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
                $(elem).removeClass('flask-moment').show();
            }
            function flask_moment_render_all() {
                $('.flask-moment').each(function() {
                    flask_moment_render(this);
                    if ($(this).data('refresh')) {
                        (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
                    }
                })
            }
            $(document).ready(function() {
                flask_moment_render_all();
            });
        </script>

        {# 使用中文,默认是英语的 #}
        {{ moment.lang("zh-CN") }}　
    {% endblock %}

    {% block navbar %}
        <div class="navbar navbar-inverse" role="navigation" style="border-radius: 0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">数据管理</a>
                    {% if current_user.is_authenticated %}
                        <a class="navbar-brand" href="{{ url_for('main.logout') }}">登出</a>
                    {% endif %}
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                财务 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('management.financial_management') }}"><span class="glyphicon glyphicon-euro"></span> 理财</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.house_loan') }}"><span class="glyphicon glyphicon-tower"></span> 房贷计算器</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.house_loan_plan') }}"><span class="glyphicon glyphicon-list-alt"></span> 房贷还款</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-th-list"></span> 消费</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('management.consumes') }}">消费明细</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.consume_types') }}">消费种类</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.consume_descriptions') }}">消费说明</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.consume_ways') }}">支付方式</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.consume_plates') }}">支付平台</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                生活 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-home"></span> 房源</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('management.buildings') }}">房源</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.apartment') }}">户价</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.district_times') }}">楼盘</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.estates') }}">小区</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.building_types') }}">户型</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.building_properties') }}">产权</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.building_owners') }}">属性</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.marathons') }}"><span class="glyphicon glyphicon-headphones"></span> 马拉松</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.weights') }}"><span class="glyphicon glyphicon-fire"></span> 体重</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.programmer_calendar') }}"><span class="glyphicon glyphicon-calendar"></span> 程序员老黄历</a></li>
                                <li class="divider"></li>
                                 <li><a href="{{ url_for('management.accounts') }}"><span class="glyphicon glyphicon-user"></span> 账号</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-road"></span> 出行</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('management.trains') }}">火车</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.train_numbers') }}">火车航班</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                工作 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if current_user.is_authenticated and current_user.is_admin %}
                                    <li><a href="{{ url_for('management.salaries') }}"><span class="glyphicon glyphicon-list-alt"></span> 工资</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{{ url_for('management.work_diaries') }}"><span class="glyphicon glyphicon-edit"></span> 日记</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.work_projects') }}"><span class="glyphicon glyphicon-file"></span> 项目</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.clock_ins') }}"><span class="glyphicon glyphicon-pencil"></span> 签到</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-zoom-in"></span> 工具</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('management.timestamp_to_datetime') }}">时间戳转时间</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.encryption') }}">加密工具</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                娱乐 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-film"></span> 电影</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('management.movies') }}">电影</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.cinemas') }}">电影院</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.movie_types') }}">电影类别</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-music"></span> 音乐</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('management.musics') }}">音乐</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.albums') }}">专辑</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.music_types') }}">类型</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                通用 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('management.enterprises') }}"><span class="glyphicon glyphicon-home"></span> 公司</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-plane"></span> 地点</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('management.countries') }}">国家</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.provinces') }}">省份</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.cities') }}">城市</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('management.districts') }}">区域</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.persons') }}"><span class="glyphicon glyphicon-user"></span> 人物</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.constellations') }}"><span class="glyphicon glyphicon-star"></span> 星座</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.shops') }}"><span class="glyphicon glyphicon-shopping-cart"></span> 商店</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.collects') }}"><span class="glyphicon glyphicon-link"></span> 收藏</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('management.web_sites') }}"><span class="glyphicon glyphicon-heart"></span> 网站</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        {{ super() }}
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>
    {% endblock %}